<ion-header>
  <ion-navbar color="primary">
    <ion-title>
        <ion-icon name="call"></ion-icon>
      ספר טלפונים</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
    <ion-list>
          <ion-item *ngFor="let item of items">
              <ion-icon name="call" item-left></ion-icon>
              <h2>{{item.name}}</h2>
              <a *ngIf="item.phone!=''" ion-button color="secondary" href="tel://{{item.phone}}">{{item.phone}}</a>
              <a *ngIf="item.cell!=''" ion-button color="primary" href="tel://{{item.cell}}">{{item.cell}}</a>
              <p item-right>{{item.dept}}</p>
              
              
            </ion-item> 
            
           
    </ion-list>
    
</ion-content>

    
 
